<<<<<<< HEAD
<div class="error-container">
    <h1 class="neon-text">Ошибка</h1>
    <div class="error-message rgb-border">
        <p><%= error %></p>
        <a href="/" class="back-button">Вернуться на главную</a>
    </div>
=======
<div class="error-container">
    <h1 class="neon-text">Ошибка</h1>
    <div class="error-message rgb-border">
        <p><%= error %></p>
        <a href="/" class="back-button">Вернуться на главную</a>
    </div>
>>>>>>> cb358ef (Initial commit)
</div> 